<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>区块链供应链金融系统</title>

  <!-- Bootstrap -->
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style type="text/css">

  .navgation{
    background: #2894ff;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    width: 100%;
  }

  .setList{
    float: right;
    overflow: hidden;
  }
  .welcomeWord{
    font-size: 14px; 
  }

  img{
    width: 150px;
    height: 100px;
  }
  
</style>

<body>
<div class="navgation" role="navigation">
    <div class="row">
    <div class="col-md-4">
      区块链供应链金融系统
    </div>
    <div class="btn-group col-md-8">
      <div class="setList">
        <span class="welcomeWord">欢迎您，xxx</span>
        <button class="btn btn-info btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right " aria-labelledby="dLabel">
          <li><a href="#">更换角色</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">退出登录</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


  <div>
    <!-- 左侧菜单栏 -->
    <div class="col-md-2">
      <div class="row">
          <ul class="nav list" style="height:0px;">
              <li class="nav-tabs">
                <ul id="nav1" class="nav nav-stacked">
                  <li>
                    <a href="#systemSetting1" class="nav-header collapsed nav-tabs" data-toggle="collapse">
                      <i class="glyphicon glyphicon-cog active"></i>
                      融资服务
                      <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul id="systemSetting1" class="nav nav list collapse" style="height:0px;">

                      <li><a href="applyMoney.html"><i class="glyphicon glyphicon-user"></i>保理融资申请</a></li>
                    </ul>
                  </li>

                </ul>
              </li>
              <li class="nav-tabs">
                <ul id="nav1" class="nav nav-stacked">
                  <li>
                    <a href="#systemSetting2" class="nav-header collapsed nav-tabs" data-toggle="collapse">
                      <i class="glyphicon glyphicon-cog active"></i>
                      消息中心
                      <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul id="systemSetting2" class="nav nav list collapse" style="height:0px;">

                      <li><a href="todoList.html"><i class="glyphicon glyphicon-user"></i>待办事项</a></li>

                      <li><a href="applyList.html"><i class="glyphicon glyphicon-th-list "></i>我的申请</a></li>

                    </ul>
                  </li>

                </ul>
              </li>

              <li class="nav-tabs">
                <ul id="nav1" class="nav nav-stacked">
                  <li>
                    <a href="#systemSetting3" class="nav-header collapsed nav-tabs" data-toggle="collapse">
                      <i class="glyphicon glyphicon-cog active"></i>
                      企业信息
                      <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul id="systemSetting3" class="nav nav list collapse" style="height:0px;">

                      <li><a href="companyInfo.html"><i class="glyphicon glyphicon-th-list "></i>基本信息</a></li>

                    </ul>
                  </li>

                </ul>
              </li>

          </ul>
        </div>
    </div>
    <!-- 左侧菜单栏结束 -->
    
    <div class="col-md-8">
      <!-- 企业信息 -->
      <div class="panel panel-default">
        <div class="panel-heading">
            企业基本信息
        </div>
        <div class="panel-body">
            <form> 
               <table class="table table-bordered">
                  <tr>
                    <td><label for="companyImg">头像</label></td>
                    <td>
                      <img src="img/Balloon_by_Matt_Benson.jpg" />
                      <input type="file">
                    </td>
                  </tr>
                  <tr>
                    <td><label for="companyName">企业名</label></td>
                    <td><input type="text" id="companyName" placeholder="xxxx"></td>
                  </tr>
                  <tr>
                    <td><label for="companyAddr">地址</label></td>
                    <td><input type="text" id="companyAddr" placeholder="xxxx"></td>
                  </tr>
                  <tr>
                      <td><label for="companyType">注册类型</label></td>
                      <td><input type="text" id="companyType" placeholder="xxxx"></td>
                  </tr>

                  <tr>
                      <td><label for="companyId">证照号码</label></td>
                      <td><input type="text" id="companyId" placeholder="xxxx"></td>
                  </tr>

                  <tr>
                      <td><label for="companyPhone">联系电话</label></td>
                      <td><input type="text" id="companyPhone" placeholder="xxxx"></td>
                  </tr>

                  <tr>
                      <td><label for="companyScope">经营范围</label></td>
                      <td><input type="text" id="companyScope" placeholder="xxxx"></td>
                  </tr>

                  <tr>
                    <td><label for="creditAmount">信用额度</label></td>
                    <td><input type="text" readonly></td>
                  </tr>
                   <tr>
                       <td><label for="balance">余额</label></td>
                       <td><input type="text" value="<%= result %>" readonly></td>
                   </tr>
               </table>
               <button type="submit" class="btn btn-success">修改</button>
            </form>
        </div>
      </div>
      <!-- 企业信息 end -->

    </div>
  </div>





  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>