<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<style>
		.zhu {
			width: 100%;
			height: 800px;
			background-color: white;
			border: 1px solid #666666;
		}
		
		.kon {
			margin-top: 20px;
		}
	</style>

	<body>
		
		<div class="zhu">
			<form>
				<div>
			<h2 align="center">保理融资申请单</h2>
		</div>
				<div class="kon col-md-6">
					<label>公司名称:</label>
					<input type="text" style="width: 500px;height: 40px;" placeholder="请填写公司名称"></input>
				</div>
				<div class="kon col-md-6">
					<label>公司类型:</label>
					<select style="width: 500px;height: 40px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="kon col-md-6">
					<label>所在行业:</label>
					<select style="width: 500px;height: 40px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="kon col-md-6">
					<label>单位性质:</label>
					<select style="width: 500px;height: 40px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="kon col-md-6">
					<label>单位规模:</label>
					<select style="width: 500px;height: 40px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="kon col-md-6">
					<label>年营业额:</label>
					<select style="width: 500px;height: 40px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					<div style="height: 20px;"></div>
				</div>
				
				<div class="row">
					<label class="col-md-1 " style="margin-left: 15px ;">经营范围：</label>
					<textarea style="width:1150px;" rows="6"></textarea>
				</div>
				<div style="height: 20px;"></div>
				<div class="row">
					<label class="col-md-1 " style="margin-left: 15px ;">公司简介：</label>
					<textarea style="width:1150px;" rows="6"></textarea>
				</div>
				<div style="height: 20px;"></div>
				<div class="row">
					<label class="col-md-1"style="margin-left: 15px;">公司地址：</label>
					<div style="width:1150px;height: 150px;border: 1px solid #666666;" class="col-md-11">
						<div>
					<select style="width: 200px;height: 35px; margin-top: 20px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					<select style="width: 200px;height: 35px; margin-top: 20px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					<select style="width: 200px;height: 35px; margin-top: 20px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					</div>
					<input type="text" style="width:900px;height: 40px;margin-top: 20px;" placeholder="详细地址"></input>
					</div>
				</div>
				<div class="col-md-12">
					<label style="margin-left: 75px;">邮箱:</label>
					<input type="text" style="width:500px;height: 40px;margin-top: 20px;"></input>
				</div>
			</form>
		</div>
		<div class="zhu ">
			<h2 align="center">赊销供货单</h2>
			<form>
				<div class="kon col-md-6">
					<label>公司名称:</label>
					<input type="text" style="width: 500px;height: 40px;" placeholder="请填写公司名称"></input>
				</div>
				<div class="kon col-md-6">
					<label>公司类型:</label>
					<select style="width: 500px;height: 40px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="kon col-md-6">
					<label>所在行业:</label>
					<select style="width: 500px;height: 40px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="kon col-md-6">
					<label>单位性质:</label>
					<select style="width: 500px;height: 40px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="kon col-md-6">
					<label>单位规模:</label>
					<select style="width: 500px;height: 40px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="kon col-md-6">
					<label>年营业额:</label>
					<select style="width: 500px;height: 40px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					<div style="height: 20px;"></div>
				</div>
				
				<div class="row">
					<label class="col-md-1 " style="margin-left: 15px ;">经营范围：</label>
					<textarea style="width:1150px;" rows="6"></textarea>
				</div>
				<div style="height: 20px;"></div>
				<div class="row">
					<label class="col-md-1 " style="margin-left: 15px ;">公司简介：</label>
					<textarea style="width:1150px;" rows="6"></textarea>
				</div>
				<div style="height: 20px;"></div>
				<div class="row">
					<label class="col-md-1"style="margin-left: 15px;">公司地址：</label>
					<div style="width:1150px;height: 150px;border: 1px solid #666666;" class="col-md-11">
						<div>
					<select style="width: 200px;height: 35px; margin-top: 20px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					<select style="width: 200px;height: 35px; margin-top: 20px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					<select style="width: 200px;height: 35px; margin-top: 20px;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					</div>
					<input type="text" style="width:900px;height: 40px;margin-top: 20px;" placeholder="详细地址"></input>
					</div>
				</div>
				<div>
					<label style="margin-left: 75px;">邮箱:</label>
					<input type="text" style="width:500px;height: 40px;margin-top: 20px;"></input>
				</div>
			</form>
		</div>

		<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
	</body>

</html>